.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
  min-height: 0;
}
.freeBox__zSioG {
  max-width: 1140px;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__ohHfl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  background: #f8f9fd;
}
.freeBox__ohHfl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ohHfl > :global(.__wab_flex-container) > *,
.freeBox__ohHfl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ohHfl > :global(.__wab_flex-container) > picture > img,
.freeBox__ohHfl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__h1Id4 {
  max-width: 1140px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.productCarousel:global(.__wab_instance) {
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
}
.freeBox___4Ijef {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
}
.text__tjDmV {
  position: relative;
  color: rgb(97, 96, 96) /* plasmic-token: mqHZMedSnZFq */;
  font-size: 30px;
  font-weight: 500;
}
.freeBox__dr78I {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__dr78I > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox__dr78I > :global(.__wab_flex-container) > *,
.freeBox__dr78I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dr78I > :global(.__wab_flex-container) > picture > img,
.freeBox__dr78I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dr78I {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dr78I > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dr78I > :global(.__wab_flex-container) > *,
  .freeBox__dr78I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dr78I > :global(.__wab_flex-container) > picture > img,
  .freeBox__dr78I
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.productCard___5J8M5:global(.__wab_instance) {
  position: relative;
}
.img__wk7Fw {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__wk7Fw > picture > img {
  object-fit: cover;
}
.img__wk7Fw > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__xuLq:global(.__wab_instance) {
  position: relative;
}
.productCard___9UzCg:global(.__wab_instance) {
  position: relative;
}
.img__msGXr {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__msGXr > picture > img {
  object-fit: cover;
}
.img__msGXr > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__rIrEm:global(.__wab_instance) {
  position: relative;
}
.productCard__sbyXz:global(.__wab_instance) {
  position: relative;
}
.img__fwOsz {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__fwOsz > picture > img {
  object-fit: cover;
}
.img__fwOsz > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__fGlxA:global(.__wab_instance) {
  position: relative;
}
.productCard__ymFz:global(.__wab_instance) {
  position: relative;
}
.img__s4ZFu {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__s4ZFu > picture > img {
  object-fit: cover;
}
.img__s4ZFu > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings___3Scq6:global(.__wab_instance) {
  position: relative;
}
.freeBox__jQL {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  margin-bottom: 64px;
  min-width: 0;
}
.freeBox__jQL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox__jQL > :global(.__wab_flex-container) > *,
.freeBox__jQL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jQL > :global(.__wab_flex-container) > picture > img,
.freeBox__jQL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jQL {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jQL > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jQL > :global(.__wab_flex-container) > *,
  .freeBox__jQL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jQL > :global(.__wab_flex-container) > picture > img,
  .freeBox__jQL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.productCard__aagx7:global(.__wab_instance) {
  position: relative;
}
.img___5EbhM {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img___5EbhM > picture > img {
  object-fit: cover;
}
.img___5EbhM > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__y7PxC:global(.__wab_instance) {
  position: relative;
}
.productCard__lmsvq:global(.__wab_instance) {
  position: relative;
}
.img__msbFt {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__msbFt > picture > img {
  object-fit: cover;
}
.img__msbFt > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__h1B4O:global(.__wab_instance) {
  position: relative;
}
.productCard__d85Bu:global(.__wab_instance) {
  position: relative;
}
.img__kx3H {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__kx3H > picture > img {
  object-fit: cover;
}
.img__kx3H > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__ghGp:global(.__wab_instance) {
  position: relative;
}
.productCard__vN3Zn:global(.__wab_instance) {
  position: relative;
}
.img__aOz8S {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__aOz8S > picture > img {
  object-fit: cover;
}
.img__aOz8S > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__gwhNd:global(.__wab_instance) {
  position: relative;
}
.text__vqNbC {
  height: auto;
}
.featureItem:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
}
.freeBox__dzqlP {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
}
.text__uHJy8 {
  position: relative;
  color: rgb(97, 96, 96) /* plasmic-token: mqHZMedSnZFq */;
  font-size: 30px;
  font-weight: 500;
}
.freeBox__vbzk {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
}
.freeBox__vbzk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 36px);
  width: calc(100% + 36px);
}
.freeBox__vbzk > :global(.__wab_flex-container) > *,
.freeBox__vbzk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vbzk > :global(.__wab_flex-container) > picture > img,
.freeBox__vbzk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 36px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vbzk {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vbzk > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vbzk > :global(.__wab_flex-container) > *,
  .freeBox__vbzk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vbzk > :global(.__wab_flex-container) > picture > img,
  .freeBox__vbzk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.productCard__ygHaC:global(.__wab_instance) {
  position: relative;
}
.text__aHaHq {
  height: auto;
}
.text__o1WzE {
  height: auto;
}
.img__p2Jmc {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__p2Jmc > picture > img {
  object-fit: cover;
}
.img__p2Jmc > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__fRz2P:global(.__wab_instance) {
  position: relative;
}
.productCard__sdf7V:global(.__wab_instance) {
  position: relative;
}
.img__icJ5W {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__icJ5W > picture > img {
  object-fit: cover;
}
.img__icJ5W > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__fPd4N:global(.__wab_instance) {
  position: relative;
}
.productCard__pzPcO:global(.__wab_instance) {
  position: relative;
}
.img__raWnC {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__raWnC > picture > img {
  object-fit: cover;
}
.img__raWnC > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings___5IJ9U:global(.__wab_instance) {
  position: relative;
}
.productCard__ctUi5:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__ctUi5:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__kSOL {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__kSOL > picture > img {
  object-fit: cover;
}
.img__kSOL > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings___103L:global(.__wab_instance) {
  position: relative;
}
.freeBox__a2Nr3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__w3EXt {
  position: relative;
  color: rgb(97, 96, 96) /* plasmic-token: mqHZMedSnZFq */;
  font-size: 30px;
  font-weight: 500;
}
.freeBox__bsDwh {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
}
.freeBox__bsDwh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__bsDwh > :global(.__wab_flex-container) > *,
.freeBox__bsDwh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bsDwh > :global(.__wab_flex-container) > picture > img,
.freeBox__bsDwh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bsDwh {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bsDwh > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bsDwh > :global(.__wab_flex-container) > *,
  .freeBox__bsDwh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bsDwh > :global(.__wab_flex-container) > picture > img,
  .freeBox__bsDwh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.blogPost__wKmJh:global(.__wab_instance) {
  position: relative;
}
.img___2Z81Z {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___2Z81Z > picture > img {
  object-fit: cover;
}
.img___2Z81Z > .__wab_img-spacer > img {
  object-fit: cover;
}
.blogPost__jehKb:global(.__wab_instance) {
  position: relative;
}
.img___2ArLw {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___2ArLw > picture > img {
  object-fit: cover;
}
.img___2ArLw > .__wab_img-spacer > img {
  object-fit: cover;
}
.blogPost___8Vw9X:global(.__wab_instance) {
  position: relative;
}
.img__rrWew {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__rrWew > picture > img {
  object-fit: cover;
}
.img__rrWew > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__cSgXo {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: #f8f9fd;
  padding: 48px;
}
.freeBox__cSgXo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__cSgXo > :global(.__wab_flex-container) > *,
.freeBox__cSgXo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cSgXo > :global(.__wab_flex-container) > picture > img,
.freeBox__cSgXo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.img__pyXS {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img__pyXS > picture > img {
  object-fit: cover;
}
.img__pyXS > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__rg3O7 {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img__rg3O7 > picture > img {
  object-fit: cover;
}
.img__rg3O7 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__w5Fam {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img__w5Fam > picture > img {
  object-fit: cover;
}
.img__w5Fam > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__y2LGo {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img__y2LGo > picture > img {
  object-fit: cover;
}
.img__y2LGo > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__zPGh {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.img__zPGh > picture > img {
  object-fit: cover;
}
.img__zPGh > .__wab_img-spacer > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  position: relative;
}
