.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__gkgc {
  display: flex;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 32px 0px;
}
.freeBox__gkgc > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__gkgc > :global(.__wab_flex-container) > *,
.freeBox__gkgc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gkgc > :global(.__wab_flex-container) > picture > img,
.freeBox__gkgc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gkgc {
    padding: 16px 5px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.menuButton__expanded:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton__expanded:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  flex-shrink: 0;
}
.img {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__byQun {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.linkButton__bkP1T:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton___3KzxM:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__zj0Hg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__rynxZ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__dlAJn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox___4Q4HH {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
}
.freeBox___4Q4HH > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___4Q4HH > :global(.__wab_flex-container) > *,
.freeBox___4Q4HH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4Q4HH > :global(.__wab_flex-container) > picture > img,
.freeBox___4Q4HH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.iconLink__n60Ao:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__healv {
  position: relative;
  object-fit: cover;
  color: rgb(95, 91, 87) /* plasmic-token: UnRTWMiBPQve */;
  width: 18px;
  height: 18px;
}
.root .svg__healv:hover {
  color: rgb(233, 156, 46) /* plasmic-token: PGz1wzwAKod7 */;
}
.iconLink__zAvOk:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__s0RLo {
  position: relative;
  object-fit: cover;
  color: rgb(95, 91, 87) /* plasmic-token: UnRTWMiBPQve */;
  width: 18px;
  height: 18px;
}
.root .svg__s0RLo:hover {
  color: rgb(233, 156, 46);
}
.iconLink__fbe2J:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__okIkX {
  position: relative;
  object-fit: cover;
  color: rgb(95, 91, 87) /* plasmic-token: UnRTWMiBPQve */;
  width: 18px;
  height: 18px;
}
.root .svg__okIkX:hover {
  color: rgb(233, 156, 46) /* plasmic-token: PGz1wzwAKod7 */;
}
.freeBox__pN0Tg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.linkButton___7TjQq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__zj9U1:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__ojhny:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__y1Vll:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__b4TO:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
