.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox__asvnb {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 128px 32px;
}
.freeBox__asvnb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__asvnb > :global(.__wab_flex-container) > *,
.freeBox__asvnb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__asvnb > :global(.__wab_flex-container) > picture > img,
.freeBox__asvnb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__asvnb {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__asvnb > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__asvnb > :global(.__wab_flex-container) > *,
  .freeBox__asvnb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__asvnb > :global(.__wab_flex-container) > picture > img,
  .freeBox__asvnb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__s7As {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__s7As > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__s7As > :global(.__wab_flex-container) > *,
.freeBox__s7As > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s7As > :global(.__wab_flex-container) > picture > img,
.freeBox__s7As
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__hkSg5 {
  position: relative;
  font-weight: 700;
}
.freeBox___1HM0D {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___1HM0D > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___1HM0D > :global(.__wab_flex-container) > *,
.freeBox___1HM0D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1HM0D > :global(.__wab_flex-container) > picture > img,
.freeBox___1HM0D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__eps3J {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: _W1VqjQNrR0p */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__eps3J:hover {
  color: rgb(233, 156, 46) /* plasmic-token: PGz1wzwAKod7 */;
  padding-left: 10px;
}
.link__mJxxE {
  color: rgb(160, 158, 156) /* plasmic-token: _W1VqjQNrR0p */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__mJxxE:hover {
  color: rgb(233, 156, 46) /* plasmic-token: PGz1wzwAKod7 */;
  padding-left: 10px;
}
.link___1Sz7A {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: _W1VqjQNrR0p */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link___1Sz7A:hover {
  color: rgb(233, 156, 46) /* plasmic-token: PGz1wzwAKod7 */;
  padding-left: 10px;
}
.link__yB4Bn {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: _W1VqjQNrR0p */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__yB4Bn:hover {
  color: rgb(233, 156, 46) /* plasmic-token: PGz1wzwAKod7 */;
  padding-left: 10px;
}
.freeBox__gypfh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__gypfh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__gypfh > :global(.__wab_flex-container) > *,
.freeBox__gypfh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gypfh > :global(.__wab_flex-container) > picture > img,
.freeBox__gypfh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__nBoGj {
  position: relative;
  font-weight: 700;
}
.freeBox__kjNvI {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__kjNvI > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__kjNvI > :global(.__wab_flex-container) > *,
.freeBox__kjNvI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kjNvI > :global(.__wab_flex-container) > picture > img,
.freeBox__kjNvI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__lXb9X {
  color: rgb(160, 158, 156) /* plasmic-token: _W1VqjQNrR0p */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__lXb9X:hover {
  color: rgb(233, 156, 46) /* plasmic-token: PGz1wzwAKod7 */;
  padding-left: 10px;
}
.link__jKmsd {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: _W1VqjQNrR0p */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__jKmsd:hover {
  color: rgb(233, 156, 46) /* plasmic-token: PGz1wzwAKod7 */;
  padding-left: 10px;
}
.link___1NaXy {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: _W1VqjQNrR0p */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link___1NaXy:hover {
  color: rgb(233, 156, 46) /* plasmic-token: PGz1wzwAKod7 */;
  padding-left: 10px;
}
.link__kpWl3 {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: _W1VqjQNrR0p */;
  transition-property: all, all;
  transition-duration: 1s, 0.5s;
}
.root .link__kpWl3:hover {
  color: rgb(233, 156, 46) /* plasmic-token: PGz1wzwAKod7 */;
  padding-left: 10px;
}
.link__sctzc {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: _W1VqjQNrR0p */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__sctzc:hover {
  color: rgb(233, 156, 46) /* plasmic-token: PGz1wzwAKod7 */;
  padding-left: 10px;
}
.freeBox__rejGx {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__rejGx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__rejGx > :global(.__wab_flex-container) > *,
.freeBox__rejGx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rejGx > :global(.__wab_flex-container) > picture > img,
.freeBox__rejGx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text___8R4Uj {
  position: relative;
  font-weight: 700;
}
.freeBox__su5Qe {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__su5Qe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__su5Qe > :global(.__wab_flex-container) > *,
.freeBox__su5Qe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__su5Qe > :global(.__wab_flex-container) > picture > img,
.freeBox__su5Qe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__khL4 {
  color: rgb(160, 158, 156) /* plasmic-token: _W1VqjQNrR0p */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__khL4:hover {
  color: rgb(233, 156, 46) /* plasmic-token: PGz1wzwAKod7 */;
  padding-left: 10px;
}
.link__rgA6F {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: _W1VqjQNrR0p */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__rgA6F:hover {
  color: rgb(233, 156, 46) /* plasmic-token: PGz1wzwAKod7 */;
  padding-left: 10px;
}
.link__zOejd {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: _W1VqjQNrR0p */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__zOejd:hover {
  color: rgb(233, 156, 46) /* plasmic-token: PGz1wzwAKod7 */;
  padding-left: 10px;
}
.link__k9KaF {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: _W1VqjQNrR0p */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__k9KaF:hover {
  color: rgb(233, 156, 46) /* plasmic-token: PGz1wzwAKod7 */;
  padding-left: 10px;
}
.link__zraoz {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: _W1VqjQNrR0p */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__zraoz:hover {
  color: rgb(233, 156, 46) /* plasmic-token: PGz1wzwAKod7 */;
  padding-left: 10px;
}
.freeBox__jcLUg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__jcLUg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__jcLUg > :global(.__wab_flex-container) > *,
.freeBox__jcLUg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jcLUg > :global(.__wab_flex-container) > picture > img,
.freeBox__jcLUg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__nZ7Eb {
  position: relative;
  font-weight: 700;
}
.text__p58Nn {
  position: relative;
  font-size: 14px;
  color: rgb(160, 158, 156) /* plasmic-token: _W1VqjQNrR0p */;
}
.freeBox__rLj8T {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  box-shadow: 0px 4px 16px 0px #cbcbcb;
  transition-property: all;
  transition-duration: 0.5s;
  height: 48px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 5px;
}
.root .freeBox__rLj8T:hover {
  box-shadow: 4px 4px 4px 4px rgb(160, 158, 156)
    /* plasmic-token: _W1VqjQNrR0p */;
}
.textbox {
  position: relative;
  width: 100%;
  font-size: 14px;
  min-width: 0;
  border-radius: 5px;
  padding: 12px;
  border-width: 0px;
}
.button {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 48px;
  flex-shrink: 0;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.svg__guiE {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46) /* plasmic-token: PGz1wzwAKod7 */;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.freeBox__rdjCt {
  display: flex;
  position: relative;
  flex-direction: column;
  left: auto;
  top: auto;
  width: 100vw;
  height: auto;
  align-self: center;
  background: #f8f9fd;
  padding: 32px 16px;
}
.freeBox__rdjCt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__rdjCt > :global(.__wab_flex-container) > *,
.freeBox__rdjCt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rdjCt > :global(.__wab_flex-container) > picture > img,
.freeBox__rdjCt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__dm7Nc {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__dm7Nc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__dm7Nc > :global(.__wab_flex-container) > *,
.freeBox__dm7Nc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dm7Nc > :global(.__wab_flex-container) > picture > img,
.freeBox__dm7Nc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__dxk9T:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__w25Cb {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__w25Cb:hover {
  color: rgb(233, 156, 46) /* plasmic-token: PGz1wzwAKod7 */;
}
.iconLink__nl1G:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ldWh6 {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__ldWh6:hover {
  color: rgb(233, 156, 46) /* plasmic-token: PGz1wzwAKod7 */;
}
.iconLink___2ZYny:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__gtJf9 {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__gtJf9:hover {
  color: rgb(233, 156, 46) /* plasmic-token: PGz1wzwAKod7 */;
}
.freeBox__xDzPr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xDzPr {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.text__elBxi {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.link__z5Mqb {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link__z5Mqb:hover {
  text-decoration-line: underline;
}
.link___7Wah {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link___7Wah:hover {
  text-decoration-line: underline;
}
